<div class="valign-wrapper">
<div class="columns">
 <ul class="price">
   <li class="header">
   <h4>Minimal</h4>
   <h5>Viable Product</h5>
   </li>
   <li class="grey" style="padding:7.63px">
   Ab 5.000 &euro;*
   <h6>* 3.000 &euro; für Startups</h6>
   </li>
   <li>Minimale Anwendung</li>
   <li>ca. 30 Tage</li>
   <li class="grey"><a href="/startproject" class="btn-large">Projekt Starten</a></li>
 </ul>
</div>
<div class="columns columns-highlight">
<ul class="price highlight">
  <li class="header">
  <h4>Optimal</h4>
  <h5>Viable Product</h5>
  </li>
  <li class="grey">Ab 20.000 &euro; </li>
  <li>Optimale Anwendung</li>
  <li>ca. 3 Monate</li>
  <li class="grey"><a href="/startproject" class="btn-large">Projekt Starten</a></li>
</ul>
</div>
<div class="columns">
<ul class="price">
  <li class="header">
  <h4>Maximal</h4>
  <h5>Viable Product</h5>
  </li>
  <li class="grey">Kontaktiere uns</li>
  <li>Angepasste Lösung für dein Unternehmen</li>
  <li>Du entscheidest!</li>
  <li class="grey"><a href="/startproject" class="btn-large">Projekt Starten</a></li>
</ul>
</div>
</div>
