---
layout: default
---
<div class="container section">
  <h1 class="page-title">{{ page.title | escape }}</h1>
  <div class="row">
  {% for post in site.posts %}
    <div class="col s12 m6">
    <div class="posts">
      <h2 class="blog-heading">
        <a class="post-link" href="{{ post.url | relative_url }}">
        <span>{{ post.title | escape }}</span>
        </a>
      </h2>
      {% if post.image.feature %}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <img class="img-blog-feature" src="{{ absolute_url }}/assets/img/blog/{{ post.image.feature }}" alt="feature image">
        </a>
      {% endif %}
      <p>
        {{ post.content | strip_html | truncate: 350 }} <br> <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
        <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
      </p>
    </div>
    </div>
  {% endfor %}
  </div>
</div>

{% include cta.html %}
